body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: crimson;
}

#emoji{
    font-size: 70px;
    filter: grayscale(1);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 200ms;

}

#emoji:hover{
    transform: scale(2);
    filter: grayscale(0);
}